@import url(reset.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #dbdada;
}

#logo {
    font-size: 2rem;
    font-weight: 700;
}

#search-bar {
    display: flex;
    gap: 5px;
}

#search-input {
    height: 40px;
    width: 300px;
    padding: 0 1rem;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

#search-btn {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #dbdada;
}

#search-btn:active {
    background-color: #b5b5b5;
}
